@page
@model bakaryshop.Pages.OrderSuccessModel
@{
    ViewData["Title"] = "OrderSuccess";
}
<h1>
    Order Successed
</h1>
<div class="border-success">
    <h2>
        Thank You for Order
    </h2>
    <p>
        We are Processing Your Order and have send a conformation email
        <br />
        Thanks For Your Time!
    </p>

</div>
